Repository QuriousAI/qurious: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell --no-summary --no-progress, eslint --fix, prettier --write

Add NEXT_PUBLIC_DISCORD_URL to environment configuration and update links to use it in GlobalError, AlphaWarning, and AppSidebar components.
  apps/web/app/app/global-error.tsx
  apps/web/app/components/alpha-warning.tsx
  apps/web/app/components/sidebar/index.tsx
  apps/web/app/env.ts
Due: cspell --no-summary --no-progress, eslint --fix, prettier --write

Disable refetching on window focus in ConvexWithClerkProvider configuration.
  apps/web/app/providers/convex-with-clerk.tsx
Due: cspell --no-summary --no-progress, eslint --fix, prettier --write

Update sender email address in sendWelcomeEmail function to use the correct domain
  packages/backend/convex/emails.ts
Due: cspell --no-summary --no-progress, eslint --fix, prettier --write

Update README.md to enhance tech stack presentation with a table format and include technology icons for better visual representation.
  README.md
  assets/clerk.svg
  assets/convex.svg
  assets/dodo-payments.svg
  assets/git.svg
  assets/nextjs.svg
  assets/posthog.svg
  assets/react.svg
  assets/resend.svg
  assets/shadcn-ui.svg
  assets/tailwindcss.svg
  assets/tanstack.svg
  assets/turborepo.svg
  assets/vercel.svg
Due: cspell --no-summary --no-progress, prettier --write

Update README.md to acknowledge the contribution of Semantic Scholar with a new section and logo.
  README.md
  assets/semantic-scholar.svg
Due: cspell --no-summary --no-progress, prettier --write

Update README.md
  README.md
Due: cspell --no-summary --no-progress, prettier --write

Update README.md to include Git logo in the tooling section and center the acknowledgment of contributions.
  README.md
Due: cspell --no-summary --no-progress, prettier --write

Add files via upload
  assets/Qurious_Video.mp4
Due: none

Add video asset to README
  README.md
Due: cspell --no-summary --no-progress, prettier --write

Fix video asset path in README
  README.md
Due: cspell --no-summary --no-progress, prettier --write

Update media format for Qurious demo
  README.md
Due: cspell --no-summary --no-progress, prettier --write

Add width attribute to video tag in README
  README.md
Due: cspell --no-summary --no-progress, prettier --write

Fix video tag in README.md
  README.md
Due: cspell --no-summary --no-progress, prettier --write

Fix video tag source in README.md
  README.md
Due: cspell --no-summary --no-progress, prettier --write

Update README to replace video element with link
  README.md
Due: cspell --no-summary --no-progress, prettier --write

Update README with project description
  README.md
Due: cspell --no-summary --no-progress, prettier --write

Add files via upload
  assets/Qurious_Logo_Final__NO_BG.png
Due: none

Update logo image in README
  README.md
Due: cspell --no-summary --no-progress, prettier --write

Add width attribute to Qurious logo in README
  README.md
Due: cspell --no-summary --no-progress, prettier --write

Update description of open source alternative
  README.md
Due: cspell --no-summary --no-progress, prettier --write

Refactor metadata generation across various pages to utilize createMetadata function for improved consistency and SEO optimization.
  apps/web/app/app/(auth)/sign-in/[[...sign-in]]/page.tsx
  apps/web/app/app/(auth)/sign-up/[[...sign-up]]/page.tsx
  apps/web/app/app/(user)/folders/[id]/layout.tsx
  apps/web/app/app/(user)/folders/page.tsx
  apps/web/app/app/(user)/papers/[id]/layout.tsx
  apps/web/app/app/(user)/search/page.tsx
  apps/web/app/app/(user)/settings/account/[[...account]]/page.tsx
  apps/web/app/app/(user)/settings/credits/page.tsx
  apps/web/app/app/(user)/settings/customization/page.tsx
  apps/web/app/app/(user)/settings/keys/page.tsx
  apps/web/app/app/(user)/settings/webhooks/page.tsx
  apps/web/app/app/layout.tsx
  apps/web/blog/app/(home)/blog/[slug]/page.tsx
  apps/web/help/app/(docs)/[[...slug]]/page.tsx
  apps/web/www/app/(legal)/privacy/page.tsx
  apps/web/www/app/(legal)/terms/page.tsx
  apps/web/www/app/layout.tsx
Due: cspell --no-summary --no-progress, eslint --fix, prettier --write

Add SEO package with metadata generation functionality and update dependencies
  cspell.json
  packages/seo/metadata.ts
  packages/seo/package.json
  pnpm-lock.yaml
Due: cspell --no-summary --no-progress, eslint --fix, prettier --write

Add @workspace/seo package and update pnpm-lock.yaml; remove unused icon.svg file
  apps/web/app/app/icon.svg
  apps/web/app/package.json
  packages/seo/logo.svg
  packages/seo/package.json
  pnpm-lock.yaml
Due: cspell --no-summary --no-progress, prettier --write

Include icons in metadata generation
  apps/web/app/.gitignore
  packages/seo/metadata.ts
  pnpm-lock.yaml
Due: cspell --no-summary --no-progress, eslint --fix, prettier --write

Move logo.svg
  apps/web/www/public/logo.svg
Due: none

Add motion package and update layout title; set default image and icon URLs in metadata generation
  apps/web/app/app/layout.tsx
  apps/web/www/package.json
  apps/web/www/public/image.png
  packages/seo/metadata.ts
  pnpm-lock.yaml
Due: cspell --no-summary --no-progress, eslint --fix, prettier --write

Add keywords to metadata generation for enhanced SEO targeting
  packages/seo/metadata.ts
Due: cspell --no-summary --no-progress, eslint --fix, prettier --write

Refactor metadata generation to include Twitter images and remove debug logging
  packages/seo/metadata.ts
Due: cspell --no-summary --no-progress, eslint --fix, prettier --write

Update Next.js configuration to allow production builds with type errors by enabling ignoreBuildErrors option
  apps/web/www/next.config.ts
Due: cspell --no-summary --no-progress, eslint --fix, prettier --write

Update Next.js dependency from 15.5.4 to 15.5.9
  apps/web/www/package.json
Due: cspell --no-summary --no-progress, prettier --write

Update Next.js dependency to version 15.5.9 and add related dependencies in pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

Enhance README with project badge and layout updates
  README.md
Due: cspell --no-summary --no-progress, prettier --write

Path conditions:
  cspell --no-summary --no-progress: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,html,css})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,html,css})) or (any of: *.{yml,yaml})
