Repository QuriousAI/qurious: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell --no-summary --no-progress, eslint --fix --max-warnings 0, prettier --write

Add font management to design system
  apps/web/app/app/layout.tsx
  apps/web/app/components/header/font-toggle.tsx
  apps/web/app/components/header/index.tsx
  packages/design-system/src/providers/font-provider.tsx
  packages/design-system/src/styles/globals.css
Due: cspell --no-summary --no-progress, eslint --fix --max-warnings 0, prettier --write

Refactor font management in design system
  apps/web/app/app/layout.tsx
  packages/design-system/src/font/index.tsx
  packages/design-system/src/providers/font-provider.tsx
  packages/design-system/src/styles/globals.css
Due: cspell --no-summary --no-progress, eslint --fix --max-warnings 0, prettier --write

Enhance customization settings with font and theme selection
  apps/web/app/app/(user)/settings/customization/client.tsx
  apps/web/app/components/header/index.tsx
Due: cspell --no-summary --no-progress, eslint --fix --max-warnings 0, prettier --write

Update font selection feature to improve user experience
  apps/web/app/app/not-found.tsx
Due: cspell --no-summary --no-progress, eslint --fix --max-warnings 0, prettier --write

Refactor NotFound component to simplify action buttons
  apps/web/app/app/not-found.tsx
Due: cspell --no-summary --no-progress, eslint --fix --max-warnings 0, prettier --write

Update README.md to include a centered banner image and improve layout
  README.md
  assets/banner.png
Due: cspell --no-summary --no-progress, prettier --write

Integrate Dodo Payments functionality into backend
  .lintstagedrc
  cspell.json
  eslint.config.js
  packages/backend/convex/convex.config.ts
  packages/backend/convex/dodo.ts
  packages/backend/convex/http.ts
  packages/backend/convex/payments.ts
  packages/backend/convex/schema.ts
  packages/backend/convex/users/mutations.ts
  packages/backend/convex/users/queries.ts
  packages/backend/convex/webhooks.ts
  packages/backend/convex/webhooks/mutations.ts
  packages/backend/package.json
  pnpm-lock.yaml
Due: cspell --no-summary --no-progress, eslint --fix --max-warnings 0, prettier --write

Enhance UI with motion effects and component updates
  apps/web/app/app/(user)/folders/[id]/client.tsx
  apps/web/app/app/(user)/folders/client.tsx
  apps/web/app/app/(user)/layout.tsx
  apps/web/app/app/(user)/page.tsx
  apps/web/app/app/(user)/search/client.tsx
  apps/web/app/components/cards/folder.tsx
  apps/web/app/components/cards/paper.tsx
  apps/web/app/components/cards/search.tsx
  apps/web/app/components/header/breadcrumb.tsx
  apps/web/app/components/header/index.tsx
  apps/web/app/components/onboarding/steps.tsx
  apps/web/app/components/paper-tabs/overview.tsx
  apps/web/app/components/search-bar/index.tsx
  apps/web/app/components/sidebar/authenticated.tsx
  apps/web/app/components/sidebar/index.tsx
  apps/web/app/utils/extractor.ts
  cspell.json
  packages/design-system/src/content/index.tsx
Due: cspell --no-summary --no-progress, eslint --fix --max-warnings 0, prettier --write

Enhance UI with motion effects and component updates
  .lintstagedrc
  apps/web/app/package.json
  eslint.config.js
  pnpm-lock.yaml
Due: cspell --no-summary --no-progress, eslint --fix --max-warnings 0, prettier --write

Update cspell configuration to include new terms
  cspell.json
Due: cspell --no-summary --no-progress, prettier --write

Add email sending functionality and integrate Resend service
  cspell.json
  packages/backend/convex/convex.config.ts
  packages/backend/convex/emails.ts
  packages/backend/convex/httpActions/clerk.ts
  packages/backend/package.json
Due: cspell --no-summary --no-progress, eslint --fix --max-warnings 0, prettier --write

Update linting configuration and add ESLint setup
  .lintstagedrc
  eslint.config.js
Due: cspell --no-summary --no-progress, eslint --fix --max-warnings 0, prettier --write

Add issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  packages/backend/convex/folders/throw new Error("no cursor selection add
Due: cspell --no-summary --no-progress, prettier --write

small change
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: cspell --no-summary --no-progress, prettier --write

Refactor linting and enhance PostHog integration
  .lintstagedrc
  apps/web/app/app/(user)/search/client.tsx
  apps/web/app/app/layout.tsx
  apps/web/app/components/header/cmdk.tsx
  apps/web/app/components/onboarding/steps.tsx
  apps/web/app/components/search-bar/index.tsx
  apps/web/app/env.ts
  apps/web/app/providers/posthog-provider.tsx
  apps/web/app/utils/extractor.ts
  cspell.json
  eslint.config.js
  packages/backend/convex/env.ts
  packages/backend/convex/externalActions/ai/paperSummary.ts
  packages/backend/convex/externalActions/ai/studySnapshot.ts
  packages/backend/convex/externalActions/ai/suggestedQuery.ts
  packages/backend/convex/externalActions/ai/transformQuery.ts
  packages/backend/convex/externalActions/semanticScholar/multiplePaperDetails.ts
  packages/backend/convex/externalActions/semanticScholar/paperCitations.ts
  packages/backend/convex/externalActions/semanticScholar/paperDetails.ts
  packages/backend/convex/externalActions/semanticScholar/paperRecommendations.ts
  packages/backend/convex/externalActions/semanticScholar/paperReferences.ts
  packages/backend/convex/externalActions/semanticScholar/relevantPapers.ts
  packages/backend/convex/folders/mutations.ts
  packages/backend/convex/folders/queries.ts
  packages/backend/convex/folders/throw new Error("no cursor selection add
  packages/backend/convex/httpActions/clerk.ts
  packages/backend/convex/lib/posthog.ts
  packages/backend/convex/searches/mutations.ts
  packages/backend/convex/searches/queries.ts
  packages/backend/convex/users/mutations.ts
  packages/backend/convex/users/queries.ts
  packages/semantic-scholar/src/index.ts
Due: cspell --no-summary --no-progress, eslint --fix --max-warnings 0, prettier --write

Refactor SearchBar component and update cspell configuration
  apps/web/app/components/search-bar/index.tsx
  cspell.json
Due: cspell --no-summary --no-progress, eslint --fix --max-warnings 0, prettier --write

Enhance folder list and improve error handling in various components
  apps/browser/app/components/folder-list.tsx
  apps/browser/app/entrypoints/content.ts
  apps/web/app/app/(user)/folders/[id]/client.tsx
  apps/web/app/app/(user)/papers/[id]/client.tsx
  apps/web/app/app/(user)/papers/[id]/page.tsx
  apps/web/app/app/(user)/search/client.tsx
  apps/web/app/components/header/notification.tsx
  apps/web/app/components/paper-tabs/graph-view.tsx
  apps/web/app/components/paper-tabs/overview.tsx
  apps/web/app/components/paper-tabs/recommended.tsx
  apps/web/app/components/search-bar/options-sheet.tsx
  apps/web/app/queries/_unimplemented.ts
  apps/web/app/queries/ai.ts
  apps/web/app/utils/extractor.ts
  apps/web/app/utils/paper-graph-view/index.ts
  apps/web/www/app/(product)/download/page.tsx
  packages/backend/convex/externalActions/semanticScholar/relevantPapers.ts
  packages/backend/convex/httpActions/clerk.ts
Due: cspell --no-summary --no-progress, eslint --fix --max-warnings 0, prettier --write

Add random greeting functionality to Home component
  apps/web/app/app/(user)/page.tsx
Due: cspell --no-summary --no-progress, eslint --fix --max-warnings 0, prettier --write

Update UI components and enhance user experience
  apps/web/app/app/(auth)/layout.tsx
  apps/web/app/app/(user)/page.tsx
  apps/web/app/app/(user)/settings/account/page.tsx
  apps/web/app/components/sidebar/index.tsx
  cspell.json
  packages/design-system/src/content/index.tsx
Due: cspell --no-summary --no-progress, eslint --fix --max-warnings 0, prettier --write

Enhance settings layout and improve user experience
  apps/web/app/app/(user)/settings/account/page.tsx
  apps/web/app/app/(user)/settings/customization/client.tsx
  apps/web/app/app/(user)/settings/customization/page.tsx
  apps/web/app/app/(user)/settings/keys/page.tsx
  apps/web/app/app/(user)/settings/layout.tsx
  apps/web/app/app/(user)/settings/subscription/client.tsx
  apps/web/app/app/(user)/settings/subscription/page.tsx
  apps/web/app/app/(user)/settings/webhooks/page.tsx
  apps/web/app/components/global-heading.tsx
  packages/design-system/src/icons/index.tsx
Due: cspell --no-summary --no-progress, eslint --fix --max-warnings 0, prettier --write

Implement GlobalErrorHandler for improved error display across components
  apps/web/app/app/(user)/folders/[id]/client.tsx
  apps/web/app/app/(user)/folders/client.tsx
  apps/web/app/app/(user)/papers/[id]/client.tsx
  apps/web/app/app/(user)/search/client.tsx
Due: cspell --no-summary --no-progress, eslint --fix --max-warnings 0, prettier --write

Refactor folder and paper components for improved structure and navigation
  apps/web/app/app/(user)/folders/[id]/client.tsx
  apps/web/app/app/(user)/folders/[id]/layout.tsx
  apps/web/app/app/(user)/folders/[id]/page.tsx
  apps/web/app/app/(user)/folders/[id]/papers/page.tsx
  apps/web/app/app/(user)/folders/[id]/searches/page.tsx
  apps/web/app/app/(user)/papers/[id]/citations/page.tsx
  apps/web/app/app/(user)/papers/[id]/client.tsx
  apps/web/app/app/(user)/papers/[id]/graph/page.tsx
  apps/web/app/app/(user)/papers/[id]/layout.tsx
  apps/web/app/app/(user)/papers/[id]/overview/page.tsx
  apps/web/app/app/(user)/papers/[id]/page.tsx
  apps/web/app/app/(user)/papers/[id]/recommended/page.tsx
  apps/web/app/app/(user)/papers/[id]/references/page.tsx
  apps/web/app/components/cards/paper.tsx
  apps/web/app/components/paper-tabs/citations.tsx
  apps/web/app/components/paper-tabs/graph-view.tsx
  apps/web/app/components/paper-tabs/overview.tsx
  apps/web/app/components/paper-tabs/recommended.tsx
  apps/web/app/components/paper-tabs/references.tsx
Due: cspell --no-summary --no-progress, eslint --fix --max-warnings 0, prettier --write

Refactor AskPaperDrawer component to enhance PDF viewing experience
  apps/web/app/app/(user)/search/client.tsx
  apps/web/app/app/(user)/search/page.tsx
  apps/web/app/components/cards/paper.tsx
  apps/web/app/components/drawers/ask-paper.tsx
Due: cspell --no-summary --no-progress, eslint --fix --max-warnings 0, prettier --write

Refactor subscription settings to credits terminology and remove unused components
  apps/web/app/app/(user)/settings/credits/client.tsx
  apps/web/app/app/(user)/settings/credits/page.tsx
  apps/web/app/app/(user)/settings/layout.tsx
  apps/web/app/app/global-error.tsx
  apps/web/app/components/header/cmdk.tsx
  apps/web/app/components/header/help.tsx
  apps/web/www/components/call-to-action.tsx
  apps/web/www/components/header.tsx
  packages/design-system/src/icons/index.tsx
Due: cspell --no-summary --no-progress, eslint --fix --max-warnings 0, prettier --write

Remove unimplemented query placeholders to streamline codebase
  apps/web/app/queries/_unimplemented.ts
  apps/web/app/queries/index.ts
Due: cspell --no-summary --no-progress, eslint --fix --max-warnings 0, prettier --write

adding legal docs & fixing build failures
  apps/web/www/app/(legal)/layout.tsx
  apps/web/www/app/(legal)/privacy/page.tsx
  apps/web/www/app/(legal)/terms/page.tsx
  apps/web/www/app/(product)/download/page.tsx
  apps/web/www/tsconfig.json
  cspell.json
  packages/design-system/package.json
  packages/design-system/src/content/index.tsx
  packages/design-system/src/font/index.tsx
  pnpm-lock.yaml
Due: cspell --no-summary --no-progress, eslint --fix --max-warnings 0, prettier --write

ci: update Node.js to v22 and fix package exports for subpath imports
  .github/workflows/pipeline.yml
  cspell.json
  packages/design-system/package.json
Due: cspell --no-summary --no-progress, prettier --write

fix: add missing words to cspell dictionary
  cspell.json
Due: cspell --no-summary --no-progress, prettier --write

fix: add remaining cspell words (assitant, Onboarder)
  cspell.json
Due: cspell --no-summary --no-progress, prettier --write

fix: add eslint-config devDependency to design-system
  packages/design-system/package.json
  pnpm-lock.yaml
Due: cspell --no-summary --no-progress, prettier --write

fix: correct eslint config import/export names
  tools/eslint/react-internal.js
Due: cspell --no-summary --no-progress, eslint --fix --max-warnings 0, prettier --write

fix: configure ESLint for www app and fix eslint-config exports
  apps/web/www/eslint.config.mjs
  apps/web/www/package.json
  pnpm-lock.yaml
  tools/eslint/next-js.js
  tools/eslint/package.json
Due: cspell --no-summary --no-progress, eslint --fix --max-warnings 0, prettier --write

fix: correct spelling mistakes in source files
  apps/web/README.md
  apps/web/app/components/onboarding/onboarder.tsx
  apps/web/status/README.md
  apps/web/www/app/(product)/download/page.tsx
  apps/web/www/components/footer.tsx
  cspell.json
  packages/backend/convex/httpActions/dodoPayments.ts
Due: cspell --no-summary --no-progress, eslint --fix --max-warnings 0, prettier --write

chore: remove unused eslint-config-next dependency
  apps/web/www/package.json
  pnpm-lock.yaml
Due: cspell --no-summary --no-progress, prettier --write

Delete assets/banner.png
  assets/banner.png
Due: none

Add files via upload
  Qurious Banner (2).png
Due: none

Rename Qurious Banner (2).png to assets/banner.png
  assets/banner.png
Due: none

Add files via upload
  assets/Qurious Banner (2).png
Due: none

Rename Qurious Banner (2).png to banner.png
  assets/banner.png
Due: none

Path conditions:
  cspell --no-summary --no-progress: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml,html,css})
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml,html,css})
